html {
    background-color: yellowgreen;
    font-size: 1.3rem;
}

.app-container {
    background-color: #051622;
    color:#deb992;
    padding:15;
    margin:25;
}

.btn.btn-primary {
    background-color: #1BA098;
    margin:19;
}
